aiofiles==0.6.0
click==7.1.2
fastapi==0.63.0
h11==0.12.0
pydantic==1.8.1
python-multipart==0.0.5
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
fastapi-users==6.0.0
SQLAlchemy==1.3.24
databases[mysql]==0.4.3
aiosqlite==0.17.0
loguru==0.5.3
#fastapi-cache2[memcache]==0.1.3.4
Jinja2==2.11.3
mysqlclient==2.0.3
